.wrapper {
    align-items: center;
    max-width: 1280px;
    display: flex;
    gap: 32px;

    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding-top: 500px;
}

/* Видео */
.videoWrapper {
    position: relative;
    flex: 1 1 400px;
    max-width: 600px;
}

.preview {
    width: 100%;
    border-radius: 12px;
    display: block;
}

.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    background: #ff2d55;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.playButton:hover {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.9;
}

/* Контент */
.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 1.3;
}

.orange {
    color: #f28c28;
    font-size: 40px;
    font-weight: bold;
}
.desc{
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}
.text {
    margin-top: 0px;
    font-family: Montserrat, sans-serif;
    font-size: 21px;
    line-height: 1.3;
    margin-bottom: 10px;
    color: black;
}

/* Ссылка */
.linkWrapper {
    line-height: 1.6;
    margin-bottom: 20px;
    color: black;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.vkLink {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #0077ff;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s;
}

.vkLink:hover {
    color: #0059c9;
}
