:root {

    align-items: center;
    font-family: Montserrat,"Montserrat ExtraBold",sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 63px;
    color: #ffffff;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    overflow-y: scroll;
    overflow-x: hidden;

    background-image: url("assets/bg1.jpg");
    background-size: 100%;

    background-repeat: no-repeat;
}

@media (max-width: 2400px) {
    body, html, :root {
        overflow-x: hidden;
    }
}



